@import url('https://fonts.googleapis.com/css?family=Audiowide');

.gameCell {
  background-color: #3C7679;
  display: grid;
  grid-template-columns: 4rem 4rem 4rem;
  grid-template-rows: 4rem 4rem 4rem;
  grid-column-gap: .5rem;
  grid-row-gap:.5rem;
  justify-content: center;
  align-content: center;
  height: 100%;
  width: 100%;
  cursor: default;
}
.subGameCell {
  background: black;
  color: white;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2rem;
}
.gameGrid {
  display: grid;

  grid-template-columns: 14rem 14rem 14rem;
  grid-template-rows: 14rem 14rem 14rem;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;

  margin: 10px;
}
.cellCover {
  position: absolute;
  box-sizing: border-box;
  width: 14rem;
  height: 14rem;
  z-index: 3;
  background-color: white;
  color: black;
  display: none;
}
.displaySomething {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14rem;
  cursor: default;
}
.active {
  background-color: #75A982;
}
.inactive{
  pointer-events: none;

}
.App{
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.title{
  font-family: 'Audiowide', cursive;
  background-color:black;
 color :white;
  font-size: 4rem;
  margin-top: 1rem;
  padding: 20px;
  border: .5rem #75A982 solid;

}

.buttonRow{
display:flex;
width:100%;
justify-content: space-around;
margin: .9rem;

}
button{
  background-color: black;
  color:white;
  border: .5rem #75A982 solid;
  font-size: 30px;
}
.game{
  
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  
}